<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Trivago's Hotels Data Pipe</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html"> Home </a>
            </li>
            <li>
                <a>Hotels</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    
</div>
